body {
    background-color: bisque;
}

input, option, select, button {
    background-color: antiquewhite;
    box-shadow: inset  rgb(219, 215, 215) 2px 1px 2px 1px;
    border: 1px solid burlywood;
    border-radius: 5px;
}

input:focus {
    background-color: antiquewhite;
}

option{
  width: 60px;
  font-size: 1.2em;
  padding: 10px 0;
  text-align: center;
  margin-right: 20px;
  display: inline-block;
  cursor: pointer;
  border:rgb(204, 204, 0) solid 1px;
  border-radius: 5px;
  color: rgb(204, 204, 0);
}
